#
# This file is a name-value dictionary of settings.
#

Trace = true

Trace.AssemblyBinder = false
Trace.Domain = false
Trace.ProjectLoader = false
Trace.MulticastAttributeTask = true
Trace.ModuleReader = false
Trace.CodeWeaver = false
Trace.InstructionReader = false
Trace.InstructionEmitter = false
Trace.Messenger = false
Trace.Remoting = false
Trace.ReflectionBinding = false
Trace.ModuleWriter = false
Trace.CodeModel = false
Trace.CustomAttributeDictionaryTask = false
Trace.Laos = true
Trace.Timings = false
Trace.CompileTask = false
Trace.AutoDetectTask = false
Trace.PostSharpObject = false
Trace.IndexUsagesTask = false
Trace.AutoUpdate = true
Trace.TaskResolving = false

# Validation is disabled by default because it is very expensive.
ValidateXmlDocuments = false